<!DOCTYPE html>
<html class="light" lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title data-th-replace="${title}">SCM</title>
    
    <!-- Tailwind link -->
    <link rel="stylesheet" th:href="@{/css/output.css}">

    <!-- flowbite link -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet">

    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="dark:bg-gray-900 dark:text-white">


    <!-- navbar -->
    <div data-th-replace="navbar :: navbar"></div>

    <!-- Main content -->
    <div class="p-4 ">
        <section data-th-replace="${content}"> </section>
    </div>

    <!-- footer  -->
    <footer class="p-4" >
        This is footer
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    
    <th:block data-th-replace="${script}"></th:block>

</body>
</html>